@import url('https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap');
@import "tailwindcss";

:root {
  font-family: "Zain", Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255);
  background-color: #051f37;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Zain", sans-serif;
}

h1 {
  font-size: 3.5em;
  line-height: 1.1;
  font-family: "Gluten", sans-serif;
  font-weight: 400;
}

.gluten {
  font-family: "Gluten", sans-serif;
}

@media (min-width: 800px) {
  h1 {
    font-size: 6em;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 8em;
  }
}

h3 {
  font-size: 2em;
  font-family: "Zain", sans-serif;
  font-weight: 400;
}

b {
  color: #8FF0F0;
}

@layer utilities {
  @keyframes verticalScroll {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-25%);
    }
  }

  .animate-verticalScroll {
    animation: verticalScroll 30s linear infinite;
  }
}